.close-btn {
  position: absolute;
  top: 10vh;
  right: calc(16.6666%);
  height: 48px;
  width: 48px;
  font-size: 2.5em;
  padding: 0;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 24px;
  color: #ffffff;
  text-decoration: none;
}

.close-btn:hover {
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.25);
}