#signup, #login {
  width: 50%;
  margin: 0px auto;
  padding: 60px;
}

.login-signup-container {
  width: 100%;
}
.login-signup-container .title-hr-div {
  text-align: left;
  margin-bottom: 60px;
}
.login-signup-container .title-hr-div div{
  display: inline-block;
  width: 50%;
}
.login-signup-container .title-hr-div .title-wrapper {
  width: 100%;
  text-align: center;
}
.login-signup-container .title-hr-div .title-wrapper h4{
  margin-bottom: 10px;
}
.login-signup-container .title-hr-div .l-s-not-selected h4 {
  margin-bottom: 10px;
  color:rgba(255,255,255, 0.5)
}
.login-signup-container .title-hr-div .l-s-not-selected h4:hover {
  color:rgba(255,255,255, 0.75)
}

.login-signup-container .title-hr-div hr {
  border: none;
  border-top: 1.5pt solid rgba(255,255,255, 0.35);
}
.login-signup-container .title-hr-div #left,
.login-signup-container .title-hr-div #right {
  border-top: 1.5pt solid #ffffff;
}

/* FORMS */
.login-signup-container form {
  text-align: left;
}
.login-signup-container input{
  width: calc(100% - 14px);
  display: block;
  margin: 18px 0px 18px 0px;
  padding: 12px 6px;
  border: none;
  border-bottom: 1.5pt solid rgba(255,255,255, 0.35);
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arimo', sans-serif;
  font-size: 0.9em;
}
.login-signup-container input:focus {
  outline: none;
  border-bottom: 1.5pt solid rgba(255,255,255, 1);
}
.login-signup-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255, 0.75);
  opacity: 1; /* Firefox */
  font-family: 'Arimo', sans-serif;
}
.login-signup-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255, 0.75);
  font-family: 'Arimo', sans-serif;
}
.login-signup-container input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255, 0.75);
  font-family: 'Arimo', sans-serif;
}

.login-signup-container .submit-cont {
  position: relative;
  top: 100px;
  width: 100%;
}
.login-signup-container .submit-cont div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-signup-container input[type="submit"]{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: none;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  vertical-align: bottom;
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 20px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.login-signup-container .l-s-centered {
  margin-top: 36px;
  margin-bottom: 12px;
  text-align: center;
}
.login-signup-container .l-s-centered p {
  color:rgba(255,255,255, 0.75);
  font-size: 0.9em;
}
.login-signup-container .l-s-centered p:hover {
  text-decoration: underline;
}
.login-signup-container .l-s-centered p span {
  color:rgba(255,255,255, 1);
  font-size: 0.9em;
}

.login-signup-container #forgot-password {
  margin-top: 0;
}
.login-signup-container #forgot-password p{
  margin-top: 4px;
}

.login-signup-container .error-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-signup-container .error-div p {
  font-size: 0.9em;
  margin-top: 3px;
  margin-bottom: 0px;
}