nav {
  width: 25%
}
nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px 0;
}

nav a:hover {
  font-style:italic;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.nonactive-link {
  text-decoration: none;
}

/* NAV HOME */
#nav-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-align: right;
}
#nav-home a {
  display: inline-block;
  margin-left: 12px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
#nav-home a:hover {
  color: #000000;
  background-color: #ffffff;
  font-style:normal;
  font-weight: 450;
}

/* CLOSE BTN */
nav #close-btn {
  position: absolute;
  top: 60px;
  right: calc(20%);
  width: 46px;
  font-size: 2.5em;
  padding: 0;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 23px;
}
nav #close-btn:hover {
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.25);
}