@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  overflow: hidden;
}